- name: Tear down existing services
  docker_compose:
    project_src: /home/{{user}}/max
    state: absent

- name: Create and start services
  docker_compose:
    project_src: /home/{{user}}/max
  register: output

- debug:
    var: output

- name: Run `docker-compose up` again
  docker_compose:
    project_src: /home/{{user}}/max
    build: no
    restarted: yes
  register: output
